apiVersion: apps/v1
kind: Deployment
metadata:
  name: asassign
  labels:
    app: asassign
spec:
  replicas: 1
  selector:
    matchLabels:
      app: asassign
  template:
    metadata:
      labels:
        app: asassign
    spec:
      containers:
        - name: asassign
          image: skccteam03.azurecr.io/asassign:v1
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5